---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header title={SITE_TITLE} />
        <main class="container mx-auto border-6">
            <section class="bg-white dark:bg-gray-900">
                <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16">
                    <h1
                        class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
                    >
                        We invest in the world’s potential
                    </h1>
                    <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">
                        Here at Flowbite we focus on markets where technology, innovation, and capital can unlock
                        long-term value and drive economic growth.
                    </p>
                    <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
                        <a
                            href="#"
                            class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
                        >
                            Get started
                            <svg
                                aria-hidden="true"
                                class="w-5 h-5 ml-2 -mr-1"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                                ><path
                                    fill-rule="evenodd"
                                    d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                    clip-rule="evenodd"></path></svg
                            >
                        </a>
                        <a
                            href="#"
                            class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
                        >
                            Learn more
                        </a>
                    </div>
                </div>
            </section>

            <h1 class="text-xl text-purple-700s size-4">🧑‍🚀 Hello, Astronaut! him</h1>
            <p>
                Welcome to the official <a href="https://astro.build/">Astro</a> blog starter template. This template serves
                as a lightweight, minimally-styled starting point for anyone looking to build a personal website, blog, or
                portfolio with Astro.
            </p>
            <p>
                This template comes with a few integrations already configured in your
                <code>astro.config.mjs</code> file. You can customize your setup with
                <a href="https://astro.build/integrations">Astro Integrations</a> to add tools like Tailwind, React, or Vue
                to your project.
            </p>
            <p>Here are a few ideas on how to get started with the template:</p>
            <ul>
                <li>Edit this page in <code>src/pages/index.astro</code></li>
                <li>Edit the site header items in <code>src/components/Header.astro</code></li>
                <li>Add your name to the footer in <code>src/components/Footer.astro</code></li>
                <li>Check out the included blog posts in <code>src/pages/blog/</code></li>
                <li>Customize the blog post page layout in <code>src/layouts/BlogPost.astro</code></li>
            </ul>
            <p>
                Have fun! If you get stuck, remember to <a href="https://docs.astro.build/">read the docs</a> or <a
                    href="https://astro.build/chat">join us on Discord</a
                > to ask questions.
            </p>
            <p>
                Looking for a blog template with a bit more personality? Check out <a
                    href="https://github.com/Charca/astro-blog-template"
                    >astro-blog-template
                </a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
            </p>
        </main>
        <Footer />
    </body>
</html>
