---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---


<header class="px-4 my-2 py-2">
	<a href="https://thinkport.digital">
	<img src="https://thinkport.digital/wp-content/uploads/elementor/thumbs/Logo_horizontral_new-ovavzp5ztqmosy1yz1jrwr9fv5swhtoc0bky3tkc3g.png" class="w-40" alt="TP Logo">
	</a>

	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="https://twitter.com/astrodotbuild" target="_blank">Twitter</HeaderLink>
		<HeaderLink href="https://github.com/withastro/astro" target="_blank">GitHub</HeaderLink>
	</nav>
</header>
